.nutri-target-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN CONTENT */
#mainContent {
  display: grid;
  grid-template: 50px 1fr 1fr/ 1fr;
  padding: 20px 30px;
  border-radius: 20px;
}

.nutri-target-header {
  width: 800px;
  grid-column: 1/3;
  padding: 0px 0px;
}

.bottom-half {
  display: flex;
  justify-content: center;
  padding: 25px;
}

/* FORM */
#calc-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column: 1/3;
  height: 633px;
}

/* GENDER */
.gender-container,
.age-container,
.activity-container,
.goal-container,
.height-imperial-container,
.weight-imperial-container,
.height-metric-container,
.weight-metric-container {
  display: flex;
  flex-direction: column;
  padding: 13px;
  border-radius: 10px;
}

.gender-container.error,
.age-container.error,
.activity-container.error,
.goal-container.error,
.height-imperial-container.error,
.weight-imperial-container.error,
.height-metric-container.error,
.weight-metric-container.error {
  background-color: #e53935;
}

.gender-label-select,
.age-label-select,
.activity-label-input,
.goal-label-select,
.height-feet,
.height-inch,
#weightImperial,
#weightMetric,
#heightMetric {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#gender,
#age,
#goal-select,
#lb,
#weight,
#height {
  box-sizing: border-box;
  height: 28px;
  width: 440px;
  padding-left: 5px;
}

#ft,
#in {
  box-sizing: border-box;
  height: 28px;
  width: 217px;
  padding-left: 5px;
}

#ft {
  margin-right: 6px;
}

#gender.error,
#age.error,
#activity.error,
#goal-select.error,
#ft.error,
#in.error,
#lb.error {
  border: 1px dashed black;
}

.activity-error {
  font: 10px;
  color: hsl(0, 0%, 30%);
}

.activity-error.error {
  color: hsl(0, 0%, 5%);
}

/* HEIGHT */
.height-metric-container {
  display: none;
}

#heightImperial {
  display: flex;
  flex-direction: row;
}

.height-imperial-container {
  display: flex;
  flex-direction: column;
}

/* WEIGHT */
.weight-metric-container {
  display: none;
}

/* ACTIVITY */
#activity {
  box-sizing: border-box;
  height: 21px;
  width: 440px;
}

/* ERROR */
.select-error,
.age-error,
.height-error-imperial,
.height-error-metric,
.weight-error-imperial,
.weight-error-metric,
.activity-error,
.goal-error {
  height: 10px;
  padding-left: 10px;
}

/* LABEL */
label.error {
  font-weight: bold;
}

/* OUTPUT */
#output {
  display: flex;
  flex-direction: column;
  grid-row: 3/4;
}

.calories-info {
  display: flex;
}

.daily-calo-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  width: 379px;
  padding-left: 3%;
}

.macro-info {
  box-sizing: border-box;
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macro-details {
  padding-top: 10px;
}

#calories {
  padding-top: 10px;
  font-size: 54px;
}

/* MEAL PLAN */
#mealPlan {
  display: flex;
  flex-direction: column;
}

/* CalcOrClear */
.calcOrClear {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn-function {
  width: 150px;
  border-radius: 10px;
  border: 1px solid black;
}

.btn-function:hover {
  cursor: pointer;
}

.btn-function:active {
  opacity: 0.9;
}

#clear-btn {
  background-color: hsl(358, 50%, 64%);
}

#submit-btn {
  background-color: hsl(120, 50%, 72%);
}

/* RegenBTN */
.regen-btn-container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

#regen-btn {
  border-radius: 10px;
  border: 1px solid black;
  width: 200px;
}

#regen-btn:hover {
  cursor: pointer;
}

#regen-btn:active {
  opacity: 0.9;
}
