.nutri-target-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN CONTENT */
#mainContent {
  display: grid;
  grid-template: 50px/ 1fr;
  margin-top: 20px;
}

.nutri-target-header {
  width: 800px;
  grid-column: 1/3;
  padding: 0px 0px;
}

.bottom-half {
  display: flex;
  justify-content: center;
  padding: 25px;
}

/* FORM */
#calc-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column: 1/3;
  height: 633px;
}

/* GENDER */
.gender-container,
.age-container,
.activity-container,
.goal-container,
.height-imperial-container,
.weight-imperial-container {
  display: flex;
  flex-direction: column;
  padding: 13px;
  border-radius: 10px;
}

.gender-container.error,
.age-container.error,
.activity-container.error,
.goal-container.error,
.height-imperial-container.error,
.weight-imperial-container.error {
  background-color: #e53935;
}

.gender-label-select,
.age-label-select,
.activity-label-input,
.goal-label-select,
.height-feet,
.height-inch,
#weightImperial {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#gender,
#age,
#goal-select,
#lb {
  box-sizing: border-box;
  height: 28px;
  width: 440px;
  padding-left: 5px;
}

#ft,
#in {
  box-sizing: border-box;
  height: 28px;
  width: 217px;
}

#ft {
  margin-right: 6px;
}

#gender.error,
#age.error,
#activity.error,
#goal-select.error,
#ft.error,
#in.error,
#lb.error {
  border: 1px dashed black;
}

/* HEIGHT */
.height-error-metric,
.height-metric-container {
  display: none;
}

#heightImperial {
  display: flex;
  flex-direction: row;
}

.height-imperial-container {
  display: flex;
  flex-direction: column;
}

/* WEIGHT */
.weight-error-metric,
.weight-metric-container {
  display: none;
}

/* ACTIVITY */
#activity {
  box-sizing: border-box;
  height: 21px;
  width: 440px;
}

/* ERROR */
.select-error,
.age-error,
.height-error-imperial,
.height-error-metric,
.weight-error-imperial,
.weight-error-metric,
.activity-error,
.goal-error {
  height: 10px;
  padding-left: 10px;
}

/* LABEL */
label.error {
  font-weight: bold;
}
