:root {
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

/* LIGHT */
body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 5%);
}

#mainContent {
  background-color: hsl(0 0% 95%);
  border: hsl(0 0% 30%);
  background-image: linear-gradient(0deg, hsl(0 0% 94%), hsl(0 0% 95%));
}

#calc-form,
#output {
  background-color: hsl(0 0% 90%);
  border: solid 1px hsl(0 0% 85%);
  border-top: solid 1px hsl(0, 0%, 100%);
  box-shadow: var(--shadow);
}

/* DARK */
body.dark {
  background-color: hsl(0 0% 0%);
  color: hsl(0, 0%, 95%);
}

#mainContent.dark {
  background-color: hsl(0 0% 5%);
  border: hsl(0 0% 30%);
  background-image: linear-gradient(0deg, hsl(0 0% 5%), hsl(0 0% 7%));
}

#calc-form.dark,
#output.dark {
  background-color: hsl(0 0% 10%);
  border: solid 1px hsl(0 0% 15%);
  border-top: solid 1px hsl(0, 0%, 60%);
  box-shadow: var(--shadow);
}

.modal-content.dark {
  background-color: hsl(0 0% 15%);
  border: hsl(0 0% 30%);
}

.activity-error.dark {
  font: 10px;
  color: hsl(0, 0%, 70%);
}
